//theme Capet


@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

@import '../base.scss';

//theme color
$primaryColor: $blue;
$secondaryColor: white;

//header
$colorHeaderBackground: $secondaryColor;
$colorHeaderBorder: $primaryColor;
$colorh1: $primaryColor;

//footer
$colorFooterBackground: $secondaryColor;
$colorFooterBorder: $primaryColor;

//section
$colorSectionBackground: $porcelain;
$colorSectionSplashBackground: $secondaryColor;
$colorSectionBorder: $primaryColor;
$colorThumbsBorder: $primaryColor;

//links
$colorLink: $primaryColor;
$colorVisited: $ebony;
$colorHover: $cobalt;

//fonts
$fontDisplay: 'Poiret One', cursive;
$fontBody: 'Josefin Slab', serif;
$fontList: 'Josefin Slab', serif;
$fontBodyWeight: 300;
$fontDisplaySize: 2.2rem;
$fontDisplaySecondarySize: 2rem;
$fontDisplaySizeTablet: 1.8rem;
$fontDisplaySizePhone: 1.4rem;
$fontBodySize: 1.4rem;
$fontBodySizeTablet: 1.4rem;
$fontBodySizePhone: 1.2rem;
$fontNavSize: 1.4rem;

@import '../application.scss';