//base home page structure



//home page
#main-home section:first-of-type {
	@extend .section-halved;
	background-color: $colorSectionSplashBackground;
	height: 100vh;
	max-height: 1200px;
	@include breakpointPhone {
		@include flexbox (flex, flex-start, flex-start, column, nowrap);
	}
}

#main-home section:nth-of-type(2) {
	@extend .section-base;
	#tenet-gallery {
		@include flexboxGallery;
		div {
			width: 320px;
			figure {
				@include flexbox (flex, center, center, row, nowrap);
				width: 100%;
				overflow: hidden;
				border: 2px solid $colorThumbsBorder;
			}
		}
	}
}

#main-home section:nth-of-type(3) {
	@extend .section-base;
	#theme-gallery {
	@include flexbox (flex, center, center, row, nowrap);
	h2 {
	text-align: center;
	}
	div {
		min-width: 16%;
		width: 17%;
		height: 600px;
		border: 1px solid $ebony;
		overflow: hidden;
		figure {
			@include flexbox (flex, center, center, row, nowrap);
			overflow: hidden;
			transition: all 0.5s ease;
			opacity: 0.8;
			&:hover {
				transform: scale(1.2);
				opacity: 1;
		}
		a {
			cursor: pointer;
		}
		}
	}
	@include breakpointPhone {
		@include flexbox (flex, center, center, column, no-wrap);
		div {
		width: 100vw;
		height: 300px;
		}
	}	
	}
}